[submodule "Nebula/Modules/spdlog"]
	path = Nebula/Modules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nebula/Modules/glfw"]
	path = Nebula/Modules/glfw
	url = https://github.com/TheCherno/glfw
