//DIRECTORIES
.vs/

**/bin/
bin-obj/
bin-int/

Binaries/
Intermediates/

[Pp]remake/*.exe
[Pp]remake/*.txt
__pycache__/
**/cache/

//Files
*.sln
*.user
*.vcxproj
*.vcxproj.filters
*.csproj

*.log
*.json

imgui.ini
Nebula-ScriptCore.pdb
Nebula-ScriptCore.dll